[submodule "docs/master"]
	path = docs/master
	url = https://github.com/laravel/docs.git
	branch = master
[submodule "docs/4.0"]
	path = docs/4.0
	url = https://github.com/laravel/docs.git
	branch = 4.0
[submodule "docs/4.1"]
	path = docs/4.1
	url = https://github.com/laravel/docs.git
	branch = 4.1
[submodule "docs/4.1-cn"]
	path = docs/4.1-cn
	url = https://github.com/golaravel/laravel4.1docs.git
[submodule "docs/4.0-cn"]
	path = docs/4.0-cn
	url = https://github.com/golaravel/laravel4docs.git
[submodule "docs/composer-doc-cn"]
	path = docs/composer-doc-cn
	url = https://github.com/5-say/composer-doc-cn.git
[submodule "docs/laravel-4.1-note"]
	path = docs/laravel-4.1-note
	url = https://github.com/5-say/laravel-4.1-note.git
[submodule "docs/fig-standards"]
	path = docs/fig-standards
	url = https://github.com/hfcorriez/fig-standards.git
	branch = zh_CN
